nav {
  background-color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 2vh 0;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: #eee; 
  font-weight: bold;
  font-size: 2.5vh;
  padding: 2vh 5vw;
  transition: all 0.5s ease;
}

#language-selector,
#color-selector{
  padding: 0;
}

#language-select,
#color-selector-button {
  font-size: 2.5vh; 
  color: #eee;
  padding: 2vh 5vw;
  font-weight: bold;
  background-color: #333;
  border: 0;
  transition: all 0.5s ease;
}

#language-select:hover,
#color-selector-button:hover,
nav-element:hover,
a:hover{
  color: #333;
  background-color: #eee;
}