nav {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 2vh 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5vh;
  padding: 2vh 5vw;
  transition: all 0.5s ease; 
}

#language-selector,
#color-selector{
  padding: 0;
}

#language-select,
#color-selector-button {
  font-size: 2.5vh; 
  padding: 2vh 5vw;
  font-weight: bold;
  border: 0;
  transition: all 0.5s ease;
}

.nav-dark-theme {
  background-color: #222;
}

.nav-light-theme {
  background-color: #aaa;
}

.nav-element-dark-theme,
.nav-color-dark-theme,
.nav-language-dark-theme {
  background-color: #222;
  color: #ddd;
}

.nav-element-light-theme,
.nav-color-light-theme,
.nav-language-light-theme {
  background-color: #aaa;
  color: #222;
}

.nav-language-dark-theme:hover,
.nav-color-dark-theme:hover,
.nav-element-dark-theme:hover,
a:hover{
  color: #444;
  background-color: #ccc;
}

.nav-language-light-theme:hover,
.nav-color-light-theme:hover,
.nav-element-light-theme:hover,
a:hover{
  color: #ccc;
  background-color: #444;
}
